h1 {
    font-family: "Sacramento";
    text-align: center;
    font-style: italic;
    font-size: 60px;
    color: rgb(196, 13, 119);
}

body {
    background-color: cornsilk;
}

button {
    background-color: rgb(196, 13, 119);
    font-family: "helvetica";
    font-size: 20px;
    color: black;
}