h1 {
    font-family: "Sacramento";
    text-align: center;
    font-style: italic;
    font-size: 60px;
    color: rgb(236, 78, 171);
}

body {
    background-color: rgb(244, 252, 253);
}

button {
    background-color: rgb(236, 78, 171);
    font-family: "helvetica";
    font-size: 20px;
    color: black;
}