.grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 50vw 50vw;
    height: 90vh;
    width: 100%;
}

h1 {
    font-family: Dancing Script;
    text-align: right;
    font-style: italic;
    font-size: 60px;
    font-weight: lighter;
    color: rgb(0, 0, 0);
}


.header-container {
    grid-column: 1/2;
    grid-row: 1;

}


.button {
    background-color: rgb(98, 198, 223);
    border: 2px solid black;
    border-radius: 70px;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.main-container {
    background-image: url(assets/water\ background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    overflow: hidden;

}

.rcorners {
    border-radius: 100px;
    background: rgb(98, 198, 223);
    padding: 10px;
    width: 200px;
    height: 250px;
}