body {
    background-color: rgb(226, 159, 235);
}

h1 {
    font-size: 40px;
    color: rgb(46, 37, 128);
    text-align: center;
    font-family: "Indie Flower";
}

h2 {
    font-size: 30px;
    color: rgb(170, 7, 102);
    text-align: right;
}

ul {

    text-align: right;
    color: rgb(170, 7, 102);
    font-family: helvetica;
    font-size: 20px;
}

ol {
    color: rgb(170, 7, 102);
    font-family: verdana;
    font-size: 15px;
}