h1 {
    font-family: Dancing Script;
    text-align: left;
    font-size: 30px;
    font-weight: lighter;
    color: black;
}

h2 {
    font-family: Dancing Script;
    text-align: left;
    font-size: 30px;
    font-weight: lighter;
    color: black;
}

h3 {
    font-family: Dancing Script;
    text-align: left;
    font-size: 30px;
    font-weight: lighter;
    color: black;
}

ul {
    font-family: Playpen Sans;
    font-size: 15px;
}

ol {
    font-family: Playpen Sans;
    font-size: 15px;

}